{extend name="public/wexinbase"/}
{block name="title"}<title>爱淘牛股</title>{/block}
{block name="body"}
<div class="col-xs-12" style="margin:0;border-radius:15px;">
  <div class="col-xs-12" style="padding:5px;border-bottom:1px dashed #ccc;">
    <div class="col-xs-8" style="text-align:left;padding-left: 10px;"></div>
  </div>
  <div class="col-xs-12" id="content" style="padding:5px;">
    {volist name="niugu" id="vo"}
      <div class="col-xs-12 jiepan_cl" style="padding:5px 0 0px 0;">
          <div class="col-xs-2" style="color: #eb4537;font-weight: bold;margin-top:5px;font-size: 16px;">{$vo.min}</div>
          <div class="col-xs-10" id="gpimg" style="text-align:left;">{$vo.content}</div>
          <div class="col-xs-10 col-xs-offset-2" style="text-align:left;font-size:12px;">{$vo.day}</div>
          <div class="col-xs-10 col-xs-offset-2" style="font-size: 12px;margin-bottom: 5px;text-align:left;color:#ccc;border-bottom:1px solid #d5d5d5; ">策略仅供参考  不为卖买依据</div>
      </div>
    {/volist}
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function () {
    // alert($(document).scrollTop());
    // alert($(document).height() - $(window).height());
    //滚动条已经到达底部
    if ($(document).scrollTop() >= $(document).height() - $(window).height() -100) {
      var loading = layer.open({type: 2,content: '加载中'});
      var page = $(".jiepan_cl").length;
        $.post('/home/Wexin/atniugu_con_page',{page:page}, function(mms){
        layer.close(loading);
        // console.log(mms);
        $("#content").append(mms);
        $(".gpimg img").each(function(){
            $(this).parent().addClass("thumbnail thumbnail_no_bg");
        });
      }, 'json');   　
    }
  });
});
$(".gpimg img").each(function(){
    $(this).parent().addClass("thumbnail thumbnail_no_bg");
});
</script>
{/block}
