{extend name="public/wexinbase"/}
{block name="title"}<title>爱淘社区</title>{/block}
{block name="body"}
<div class="container">
    <div class="row animated fadeInDown cursor" id="content" style="margin-top:8px;">
        {volist name="list" id="vo"}
          <a href="{:url('Wexin/shequ_con',array('atid'=>$vo['id']))}" style="color:#fff;">
            <div class="col-xs-12 margin-top-10 jiepan_cl" title="{$vo.title}" aid="{$vo.id}" style="cursor: pointer;">
                  <div class="thumbnail college_ch" style="margin:0;padding-bottom:0;">
                    <div class="caption">
                      <h5 style="margin:0 0 5px 0;padding: 0;font-weight: bold;text-align:left;">{$vo.title}</h5>
                      <div style="font-size: 12px;margin-bottom: 5px;text-align:left;">{$vo.jianjie}</div>
                      <div class="gpimg" style="font-size: 12px;margin-bottom: 5px;text-align:left;">{$vo.content}</div>
                      <div style="font-size: 12px;margin-bottom: 5px;text-align:left;">{$vo.day}</div>
                      <div style="font-size: 12px;margin-bottom: 5px;text-align:left;color:#ccc;">策略仅供参考  转载注明爱淘股</div>
                    </div>
                  </div>
                </div>
          </a>  
        {/volist}
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function () {
    // alert($(document).scrollTop());
    // alert($(document).height() - $(window).height());
    //滚动条已经到达底部
    if ($(document).scrollTop() >= $(document).height() - $(window).height() -100) {
      var loading = layer.open({type: 2,content: '加载中'});
      var page = $(".jiepan_cl").length;
        $.post('/home/Wexin/shequ_con_page',{page:page}, function(mms){
        layer.close(loading);
        // console.log(mms);
        $("#content").append(mms);
        $(".gpimg img").each(function(){
            $(this).parent().addClass("thumbnail thumbnail_no_bg");
        });
      }, 'json');   　
    }
  });
});
setTimeout(function(){
window.location.reload();//刷新当前页面.
},120000);
$(".gpimg img").each(function(){
    $(this).parent().addClass("thumbnail thumbnail_no_bg");
});
</script>
{/block}