{extend name="public/videobase"/}
{block name="title"}<title>理论考试</title>{/block}
{block name="body"}
<div class="container-fiuld">
    <div class="col-xs-12"><h3>红十字救护员(初级)培训课程理论考试试卷</h3></div>
    <form class="layui-form" action="">
        <div class="col-xs-12"><h4>一、判断题（每题5分共50分）</h4></div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">1.对严重外伤的伤员，应该采取“先救命，后治伤”的救护原则。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text1" value="1" title="正确" >
                      <input type="radio" name="text1" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">2.成人胸外按压的部位是胸部正中、两乳头连线水平，即胸骨下半部。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text2" value="1" title="正确" >
                      <input type="radio" name="text2" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">3.心搏骤停时一般要经过心室纤维性颤动的过程，所以需要尽早电除颤。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text3" value="1" title="正确" >
                      <input type="radio" name="text3" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">4.进行人工呼吸前，首先要用仰头举颏法打开气道。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text4" value="1" title="正确" >
                      <input type="radio" name="text4" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">5.较大异物扎入机体后应先拔出异物再止血包扎。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text5" value="1" title="正确" >
                      <input type="radio" name="text5" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">6.无论在什么情况下，只要伤员有伤口，就可以用敷料进行加压包扎。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text6" value="1" title="正确" >
                      <input type="radio" name="text6" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">7.现场用夹板固定前臂骨折时，夹板的长度应超过肘关节和腕关节。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text7" value="1" title="正确" >
                      <input type="radio" name="text7" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">8.当婴儿发生严重气道异物梗阻时，应立即对其进行背部叩击、胸部冲击，
同时拨打“120”。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text8" value="1" title="正确" >
                      <input type="radio" name="text8" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">9.只要伤病员无意识应立即进行心肺复苏。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text9" value="1" title="正确" >
                      <input type="radio" name="text9" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">10.为了达到有效的胸外按压，在每次解除按压后应使胸廓完全回弹。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text10" value="1" title="正确" >
                      <input type="radio" name="text10" value="0" title="错误">
                  </div>
            </div>
        </div>
        <div class="col-xs-12"><h4>二、单选题（每题5分共50分）</h4></div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">1. 施救者进入现场对伤病员进行救护前应首先考虑：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single1" value="1" title="A. 伤病员是否有意识" >
                      <input type="radio" name="single1" value="2" title="B. 伤病员是否有呼吸">
                      <input type="radio" name="single1" value="3" title="C. 现场环境是否安全">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">2. 现场为伤员止血时，如发现其伤口上的敷料已渗满血液，应该：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single2" value="1" title="A. 立即更换敷" >
                      <input type="radio" name="single2" value="2" title="B. 在伤口上加压">
                      <input type="radio" name="single2" value="3" title="C. 在伤口第一块敷料上再加敷料，继续施压">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">3. 上臂外伤出血较多，首选的包扎方法是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single3" value="1" title="A. 绷带环形包扎" >
                      <input type="radio" name="single3" value="2" title="B. 绷带螺旋包扎">
                      <input type="radio" name="single3" value="3" title="C. 绷带“8”字包扎">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">4. 现场处理烧烫伤的最佳救护措施为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single4" value="1" title="A. 立即用冷清水冲洗烧烫伤部位" >
                      <input type="radio" name="single4" value="2" title="B. 如有水疱，立即挑开">
                      <input type="radio" name="single4" value="3" title="C. 涂抹牙膏">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">5. 救护开放性骨折的伤员时，下列处理错误的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single5" value="1" title="A. 立即冲洗清洁伤口" >
                      <input type="radio" name="single5" value="2" title="B. 不要将外露骨还纳">
                      <input type="radio" name="single5" value="3" title="C. 先止血后再包扎、固定">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">6. 关于心肺复苏操作，下列叙述错误的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single6" value="1" title="A. 两手掌根重叠" >
                      <input type="radio" name="single6" value="2" title="B. 以髋关节为支点，利用肩膀的力量垂直向下按压">
                      <input type="radio" name="single6" value="3" title="C. 腕、肘、肩关节上下垂直，无弯曲">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">7. 为成人实施心肺复苏时，胸外按压频率为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single7" value="1" title="A. 100～120次/分钟" >
                      <input type="radio" name="single7" value="2" title="B. 90次/分钟">
                      <input type="radio" name="single7" value="3" title="C. 130次/分钟">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">8. 为心源性心搏骤停成人实施心肺复苏时，按压与吹气的比例为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single8" value="1" title="A. 15:1 " >
                      <input type="radio" name="single8" value="2" title="B. 30:2 ">
                      <input type="radio" name="single8" value="3" title="C. 15:2">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">9. 关于成人高质量心肺复苏的要求，下列叙述错误的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single9" value="1" title="A. 胸外按压频率100～120 次/分钟" >
                      <input type="radio" name="single9" value="2" title="B. 胸外按压深度为5～6厘米">
                      <input type="radio" name="single9" value="3" title="C. 尽可能加大吹气量">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">10. 在抢救心搏骤停患者时，如果有人取来了AED, 施救者应当怎么做?</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single10" value="1" title="A.为提高除颤成功率，在电击前先进行2分钟胸外按压，再快速除颤" >
                      <input type="radio" name="single10" value="2" title="B. 暂停胸外按压，优先安装和使用AED除颤">
                      <input type="radio" name="single10" value="3" title="C. 坚持胸外按压，待AED安装完成后，快速除颤">
                  </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="col-xs-12">
              <button type="submit" class="layui-btn layui-btn-fluid layui-btn-lg" lay-submit lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form'], function(){
      var form = layui.form;
      var layer = layui.layer;
      // 提交事件
      form.on('submit(demo1)', function(data){
        var field = data.field; // 获取表单字段值
        if(!field.text1 || !field.text2 || !field.text3 || !field.text4 || !field.text5 || !field.text6 || !field.text7 || !field.text8 || !field.text9 || !field.text10){
          layer.msg('判断题未完成，提交失败！');
          return false;
        }
        if(!field.single1 || !field.single2 || !field.single3 || !field.single4 || !field.single5 || !field.single6 || !field.single7 || !field.single8 || !field.single9 || !field.single10){
          layer.msg('选择题未完成，提交失败！');
          return false;
        }
        // 显示填写结果，仅作演示用
        layer.alert(JSON.stringify(field), {
          title: '当前填写的字段值'
        });
        // 此处可执行 Ajax 等操作
        $.ajax({
           type: "POST",
           url: "{:url('video/calculate')}",
           data: {data:field},
           success: function(msg){
            console.log(msg);
                if(msg == "0"){
                    layer.msg('提交失败！');
                }else if(msg == "2"){
                    layer.msg('考核未通过，请重新考核！', {icon: 0}, function(){
                        
                    });
                }else{
                    layer.msg('提交成功！', {icon: 1}, function(){
                        window.location.href = "/scoreimg";
                    });
                }
            }
        });
        return false; // 阻止默认 form 跳转
      });
    }); 
</script>
{/block}
