{extend name="public/videobase"/}
{block name="title"}<title>理论考试</title>{/block}
{block name="body"}
<div class="container-fiuld">
    <div class="col-xs-12"><h3>红十字救护员培训课程理论考试</h3></div>
    <form class="layui-form" action="">
        <div class="col-xs-12"><h4>一、判断题（每题2.5分共50分）</h4></div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">1.发生骨折时，现场可以将木板直接缚于骨折的肢体上进行固定。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text1" value="1" title="正确" >
                      <input type="radio" name="text1" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">2.对严重外伤的伤员，应该采取“先救命，后治伤”的救护原则。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text2" value="1" title="正确" >
                      <input type="radio" name="text2" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">3.运送断肢时，可将其直接放在冰块中。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text3" value="1" title="正确" >
                      <input type="radio" name="text3" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">4.成人胸外按压的部位是胸部正中、两乳头连线水平，即胸骨下半部。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text4" value="1" title="正确" >
                      <input type="radio" name="text4" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">5.心搏骤停时一般要经过心室纤维性颤动的过程，所以需要尽早电除颤。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text5" value="1" title="正确" >
                      <input type="radio" name="text5" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">6.进行人工呼吸前，首先要用仰头举颏法打开气道。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text6" value="1" title="正确" >
                      <input type="radio" name="text6" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">7.红十字运动起源于战地救护。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text7" value="1" title="正确" >
                      <input type="radio" name="text7" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">8.头顶部大出血的伤员，如果伤口无异物，现场处理的最佳方法是敷料盖
住伤口，直接压迫止血后加压包扎头部。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text8" value="1" title="正确" >
                      <input type="radio" name="text8" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">9.四肢骨折的伤员，在固定时一定要将其指(趾)末端露出。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text9" value="1" title="正确" >
                      <input type="radio" name="text9" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">10.无论什么情况下，只要伤员有伤口，就可以用敷料进行加压包扎。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text10" value="1" title="正确" >
                      <input type="radio" name="text10" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">11.为了保护脱出的脏器，现场处理时，尽快将脏器还纳回体内。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text11" value="1" title="正确" >
                      <input type="radio" name="text11" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">12.前臂骨折时，现场用夹板固定，夹板的长度应超过肘关节和腕关节。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text12" value="1" title="正确" >
                      <input type="radio" name="text12" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">13.当婴儿发生严重气道异物梗阻时，应立即对其进行背部叩击、胸部冲击，
同时拨打“120”。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text13" value="1" title="正确" >
                      <input type="radio" name="text13" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">14.伤口内有较大异物，处理时一定不要将异物拔出。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text14" value="1" title="正确" >
                      <input type="radio" name="text14" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">15.遇有脑脊液经耳鼻流出时，应尽快用纱布、棉球堵住。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text15" value="1" title="正确" >
                      <input type="radio" name="text15" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">16.处理开放性骨折的伤员，如果伤口很脏可以用清水冲洗。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text16" value="1" title="正确" >
                      <input type="radio" name="text16" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">17.判断伤病员有无意识的方法是用力拍打其脸部或用力摇晃其身体。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text17" value="1" title="正确" >
                      <input type="radio" name="text17" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">18.救护心搏骤停的成人时，若施救者不能或不愿实施口对口人工呼吸，可采
用单纯胸外按压的心肺复苏。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text18" value="1" title="正确" >
                      <input type="radio" name="text18" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">19.现场对无呼吸的伤病员进行人工呼吸时，吹气的量越多越好，吹气时间越
长越好。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text19" value="1" title="正确" >
                      <input type="radio" name="text19" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">20.为了达到有效的胸外按压，在每次解除按压后均应使胸廓完全回弹。</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="text20" value="1" title="正确" >
                      <input type="radio" name="text20" value="2" title="错误">
                  </div>
            </div>
        </div>
        <div class="col-xs-12"><h4>二、选择题（每题2.5分共50分）</h4></div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">1. 成人胸外心脏按压深度为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single1" value="1" title="A. 1～2 厘米" >
                      <input type="radio" name="single1" value="2" title="B. 3～4 厘米 ">
                      <input type="radio" name="single1" value="3" title="C. 5～6 厘米">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">2. 成人胸外心脏按压频率为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single2" value="1" title="A. 100～120 次/分" >
                      <input type="radio" name="single2" value="2" title="B. 90次/分">
                      <input type="radio" name="single2" value="3" title="C. 130次/分">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">3. 救护右手中指被机器切断的伤员时，应选用哪种绷带包扎方法：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single3" value="1" title="A. 回返包扎" >
                      <input type="radio" name="single3" value="2" title="B. “8”字包扎">
                      <input type="radio" name="single3" value="3" title="C. 螺旋返折包扎">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">4. 一位体重60公斤的成年人，约有血液：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single4" value="1" title="A. 3000毫升" >
                      <input type="radio" name="single4" value="2" title="B. 6000毫升">
                      <input type="radio" name="single4" value="3" title="C. 4800毫升">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">5. 红十字运动的基本原则是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single5" value="1" title="A. 人道、博爱、奉献" >
                      <input type="radio" name="single5" value="2" title="B. 人道、公正、中立、独立、志愿服务、统一、普遍">
                      <input type="radio" name="single5" value="3" title="C. 中立化的战地服务">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">6. 现场处理烧烫伤的最佳救护措施为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single6" value="1" title="A. 立即用冷清水冲洗烧烫伤部位" >
                      <input type="radio" name="single6" value="2" title="B. 如有水疱，立即挑开">
                      <input type="radio" name="single6" value="3" title="C. 涂抹牙膏">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">7. 救护较大的异物扎入机体的伤员时，下列处理正确的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single7" value="1" title="A. 拔出异物后进行加压包扎" >
                      <input type="radio" name="single7" value="2" title="B. 拔出异物后填塞止血">
                      <input type="radio" name="single7" value="3" title="C. 不拔出异物，固定异物后送往医院或拨打急救电话">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">8. 为心源性心搏骤停成人实施心肺复苏时，按压与吹气的比例为：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single8" value="1" title="A. 15:1 " >
                      <input type="radio" name="single8" value="2" title="B. 30:2 ">
                      <input type="radio" name="single8" value="3" title="C. 15:2">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">9. 在高层楼房内如遇到地震时应：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single9" value="1" title="A. 立即逃出楼房" >
                      <input type="radio" name="single9" value="2" title="B. 立即躲进开间小的地方">
                      <input type="radio" name="single9" value="3" title="C. 在阳台上呼救">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">10. 如果被弱酸、弱碱烧伤，应立即：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single10" value="1" title="A.用大量流动清水冲洗" >
                      <input type="radio" name="single10" value="2" title="B.涂抹药膏">
                      <input type="radio" name="single10" value="3" title="C.用敷料包扎伤处">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">11. 现场为伤员止血时，如发现其伤口上的敷料已渗满血液，应该：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single11" value="1" title="A.立即更换敷料" >
                      <input type="radio" name="single11" value="2" title="B.在伤口上加压">
                      <input type="radio" name="single11" value="3" title="C.在伤口原有敷料上再加敷料，继续施压">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">12. 关于局部冻伤的现场处理，下列哪项是错误的：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single12" value="1" title="A.速将伤肢放入37～40℃温水中复温" >
                      <input type="radio" name="single12" value="2" title="B.不要弄破冻伤部位的水疱">
                      <input type="radio" name="single12" value="3" title="C.用雪搓冻伤局部">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">13. 伤员手背外伤出血，用绷带包扎时首选的方法是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single13" value="1" title="A.环形包扎" >
                      <input type="radio" name="single13" value="2" title="B.“8”字包扎">
                      <input type="radio" name="single13" value="3" title="C.螺旋包扎">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">14. 救护开放性骨折的伤员时，下列处理错误的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single14" value="1" title="A.立即冲洗清洁伤口" >
                      <input type="radio" name="single14" value="2" title="B.不要将外露骨还纳">
                      <input type="radio" name="single14" value="3" title="C.先止血后再包扎、固定">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">15. 交通事故中，车内司机意识不清，施救者首先做什么：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single15" value="1" title="A.将伤员搬出车外" >
                      <input type="radio" name="single15" value="2" title="B.在来车方向放置警示标志">
                      <input type="radio" name="single15" value="3" title="C.查伤员生命体征">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">16. 在抢救心搏骤停患者时，如果有人取来了AED,施救者应当怎么做?</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single16" value="1" title="A.为提高除颤成功率，在电击前先进行2分钟胸外按压，再快速除颤" >
                      <input type="radio" name="single16" value="2" title="B.暂停胸外按压，优先安装和使用AED除颤">
                      <input type="radio" name="single16" value="3" title="C.坚持胸外按压，待AED安装完成后，快速除颤">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">17. 如现场环境安全，救护疑似颈椎损伤但意识清醒的伤员，下列处理正确
的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single17" value="1" title="A.尽快背到医院" >
                      <input type="radio" name="single17" value="2" title="B.双人抬到医院">
                      <input type="radio" name="single17" value="3" title="C.尽量不移动伤员，拨打急救电话">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">18. 施救者进入现场对伤员进行救护前应首先考虑：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single18" value="1" title="A.伤病员是否有意识" >
                      <input type="radio" name="single18" value="2" title="B.伤病员是否有呼吸">
                      <input type="radio" name="single18" value="3" title="C.现场环境是否安全">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">19. 关于现场包扎的要求，下列描述错误的是：</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single19" value="1" title="A.动作要轻" >
                      <input type="radio" name="single19" value="2" title="B.先盖敷料再包扎">
                      <input type="radio" name="single19" value="3" title="C.包扎越紧越好">
                  </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div class="col-xs-12">20. “世界急救日”是每年几月份的第二个星期六？</div>
            <div class="col-xs-12">
                <div class="layui-form-item">
                      <input type="radio" name="single20" value="1" title="A.8月" >
                      <input type="radio" name="single20" value="2" title="B.9月">
                      <input type="radio" name="single20" value="3" title="C.10月">
                  </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="col-xs-12">
              <button type="submit" class="layui-btn layui-btn-fluid layui-btn-lg" lay-submit lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
layui.use(function(){
      var util = layui.util;
      // 自定义固定条
      util.fixbar({
        bgcolor: '#16baaa', // bar 的默认背景色      
        // 点击事件
        click: function(type){
          // console.log(this, type);
        }
      });
    });
    layui.use(['form'], function(){
      var form = layui.form;
      var layer = layui.layer;
      // 提交事件
      form.on('submit(demo1)', function(data){
        var field = data.field; // 获取表单字段值
        if(!field.text1 || !field.text2 || !field.text3 || !field.text4 || !field.text5 || !field.text6 || !field.text7 || !field.text8 || !field.text9 || !field.text10 || !field.text11 || !field.text12 || !field.text13 || !field.text14 || !field.text15 || !field.text16 || !field.text17 || !field.text18 || !field.text19 || !field.text20){
          layer.msg('判断题未完成，提交失败！');
          return false;
        }
        if(!field.single1 || !field.single2 || !field.single3 || !field.single4 || !field.single5 || !field.single6 || !field.single7 || !field.single8 || !field.single9 || !field.single10 || !field.single11 || !field.single12 || !field.single13 || !field.single14 || !field.single15 || !field.single16 || !field.single17 || !field.single18 || !field.single19 || !field.single20){
          layer.msg('选择题未完成，提交失败！');
          return false;
        }
        // 显示填写结果，仅作演示用
        // layer.alert(JSON.stringify(field), {
        //   title: '当前填写的字段值'
        // });
        console.log(JSON.stringify(field));
        // 此处可执行 Ajax 等操作
        $.ajax({
           type: "POST",
           url: "{:url('video/calculate')}",
           data: {data:field},
           success: function(msg){
            console.log(msg);
                if(msg == "0"){
                    layer.msg('提交失败！');
                }else if(msg == "2"){
                    layer.msg('考核未通过，请仔细审题！', {icon: 0}, function(){
                        
                    });
                }else{
                    // layer.alert(msg, {
                    //   title: '当前填写的字段值'
                    // });
                    layer.msg('提交成功！', {icon: 1}, function(){
                        window.location.href = "/scoreimg";
                    });
                }
            }
        });
        return false; // 阻止默认 form 跳转
      });
    }); 
</script>
{/block}
